


@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body {
    
    
    font-family: 'Noto Sans', sans-serif;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    background: #353535;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    margin: auto;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
  


 .basic-grid {
  display: grid;
  gap:1rem;

  /* 1 too skinny, too much code */
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */

  /* 2 cleaner code */
  /* grid-template-columns: repeat(12, 1fr); */

  /* 3  better sizing, but overflows */
  /* grid-template-columns: repeat(12, minmax(240px, 1fr)); */

  /* 4 final */
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

@media screen and (min-width: 1000px) {
    .card-tall {
      grid-row: span 50 / auto;
    }
  
    .card-wide {
      grid-column: span 2 / auto;
    }
  }

 @media screen and (max-width: 900px) {
    .card-tall {
      grid-row: span 5 / auto;
    }
  
    .card-wide {
      grid-column: span 2 / auto;
    }
    .card{
        margin-left: 50px;
    }
  }
  .text{
      align-items: center;
      margin: auto;
      
  }
  .text1{
      color: cyan;
  }
  